
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Evaldas Task</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">


          {% if app.user %}	

          <li class="nav-item active">
            <a class="nav-link" href="{{ path('dashboard') }}">Home <span class="sr-only">(current)</span></a>
          </li>

		  {% if is_granted('ROLE_ADMIN') %}
	          <li class="nav-item">
	            <a class="nav-link" href="{{ path('color') }}">Color</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="{{ path('move') }}">Moves</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="{{ path('side') }}">Sides</a>
	          </li> 
            <li class="nav-item">
              <a class="nav-link" href="{{ path('users') }}">Users</a>
            </li>         
	          
          {% endif %}

            <li class="nav-item">
              <a class="nav-link" href="{{ path('orders') }}">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">({{ app.user.username }}) Logout</a>
            </li>

          {% else %}
 		  <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
          </li>
          {% endif %} 	  
        </ul>

        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
