{% if totalPage > 1 %}
<ul class="pagination pagination-sm">
    {# `«` arrow  #}
    <li {{ currentPage == 1 ? 'class="disabled"' }}>
        <a href="{{ path('orders', {page: currentPage-1 < 1 ? 1 : currentPage-1}) }}">«</a>
    </li>

    {# Render each page number #}
    {% for i in 1..totalPage %}
    <li {{ currentPage == i ? 'class="active"' }}>
    <a href="{{ path('orders', {page: i}) }}">{{ i }}</a>
    </li>
    {% endfor %}

    {# `»` arrow #}
    <li {{ currentPage == totalPage ? 'class="disabled"' }}>
        <a href="{{ path('orders', {page: currentPage+1 <= totalPage ? currentPage+1 : currentPage}) }}">»</a>
    </li>
</ul>
{% endif %}