{% extends 'base.html.twig' %}

{% block title %}Dashboard {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   
    {{ dump(app.user) }}
  
	 

    <div class="row">
  {% if is_granted('ROLE_ADMIN') %}
        <div class="col-md-4">
            <div class="panel panel-success">
                    <div class="panel panel-heading">
                        <h2>Users</h2>
                    </div>
                    <div class="panel-body">
                        <a href="{{ path('users') }}">{{ totalUser }}</a>
                    </div>
            </div>
        </div>



        <div class="col-md-4">
            <div class="panel panel-success">
                    <div class="panel panel-heading">
                        <h2>Color</h2>
                    </div>
                    <div class="panel-body">
                        <a href="{{ path('color') }}">{{ totalColor }}</a>
                    </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                        <div class="panel panel-heading">
                            <h2>Side</h2>
                    </div>
                    <div class="panel-body">
                        <a href="{{ path('side') }}">{{ totalSide }}</a>
                    </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        <h2>Move</h2>
                    </div>
                    <div class="panel-body">
                        <a href="{{ path('move') }}">{{ totalMove }}</a>
                    </div>
            </div>

        </div>
    {% endif %}


 <div class="col-md-4">

            <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        <h2>Orders</h2>
                    </div>
                    <div class="panel-body">
                        <a href="{{ path('orders') }}">{{ totalOrder }}</a>
                    </div>
            </div>

        </div>

    </div>



</div>

     
    
</div>
{% endblock %}
 


