{% extends 'base.html.twig' %}

{% block title %}Create Order !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
svg {
  position: absolute;
  top: 0px;
  left:0px;
}
</style>

<div class="example-wrapper">
<p>
<a href="{{ path('orders') }}" class="btn btn-primary"> <i class="fa fa-arrow-left"></i> Back to List</a>
<h1> Customer Order ✅ </h1> 
    
 </p>
  
  <div class="row">
      <div class="col-md-12">
        <span id="response_status"></span>
        </div>
  </div>  
<div class="row">

  <div class="col-md-4"> 
        <svg id='svgOne'></svg>
   </div>  
  <div class="col-md-8">
    <div class="form-group">
           <input type="text" name="order_name" id="order_name" placeholder="Order Name" class="form-control"/>
    </div>
 
    <div class="form-group">
           <input type="number" name="door_width" id="door_width" placeholder="Door Width" class="form-control"/>
    </div>

    <div class="form-group">
           <input type="number" name="door_height" id="door_height" placeholder="Door Height" class="form-control"/>
    </div>
 

     <div class="form-group">
           <select id="color" class="form-control">
            <option value="">---Select Color--</option>
            {% for color in colors  %}
            <option value="{{ color.id }}">{{ color.name }}</option>
            {% endfor %}
           </select>
    </div>

    <div class="form-group">
           <select id="side" class="form-control">
            <option value="">---Select Side--</option>
            {% for side in sides  %}
            <option value="{{ side.id }}">{{ side.name }}</option>
            {% endfor %}
           </select>
    </div>

 
    <div class="form-group">
           <select id="moves" class="form-control">
            <option value="">---Select Move--</option>
             {% for move in moves  %}
            <option value="{{ move.id }}">{{ move.name }}</option>
           {% endfor %}
           </select>
    </div>
    <input type="hidden" id="client_id" name="client_id" value="{{ app.user.id }}" />
    <div class="form-group">
        <button class="btn btn-primary" id="customer_order_btn" type="button"><i class="fa fa-save"></i> Submit</button>
        <button class="btn btn-info" id="customer_order_reset_btn" type="button"><i class="fa fa-refresh"></i> Reset</button>
    </div>

  </div>

</div>



</div>
{% endblock %}
