{% extends 'base.html.twig' %}

{% block title %}Customer Orders!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 90%; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .pagination li {padding: 10px;}
</style>

<div class="example-wrapper">
    <h1> Customer Orders ✅</h1>

<div class="row">
  <div class="col-md-12">
     
    <a href="{{ path('order') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Create Order</a>


    <table width="100%" class="table">
    <thead>
        <tr>
            <th>Order Name </th>
            <th>Door Width </th>
            <th>Door Height</th>
            <th>Color</th>
            <th>Side</th>
            <th>Move</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
       {% for order in orders %}
        <tr>
            <td>{{ order.order_name }}</td>
            <td>{{ order.door_width }}</td>
            <td>{{ order.door_height }}</td>
            <td>{{ order.color_name }}</td>
            <td>{{ order.side_name }}</td>
            <td>{{ order.move_name }}</td>
            <td>{{ order.email }}</td>
        </tr>
       {% endfor %}  
    </tbody>
    </table>
 
 {% include 'partials/paginate.html.twig' %}

  </div>

</div>



</div>
{% endblock %}
