{% extends 'base.html.twig' %}

{% block title %}Create User!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 950px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>

       <a href="{{ path('users') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Back to List</a> 



 <div class="row">
      <div class="col-md-12">
        <span id="user_response_status"></span>
        </div>
  </div>  
<div class="row">

  <div class="col-md-8 offset-4">
    <div class="form-group">
           <input type="email" name="email" id="email" placeholder="Email" class="form-control"/>
    </div>
 
    <div class="form-group">
           <input type="password" name="password" id="password" placeholder="Password" class="form-control"/>
    </div>

    <div class="form-group">
           <select id="role" class="form-control">
            <option value="">---Select Role--</option>
            <option value="ROLE_USER">ROLE_USER</option>
            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
           </select>
    </div>
 
    <div class="form-group">
        <button class="btn btn-primary" id="user_create_btn" type="button"><i class="fa fa-save"></i> Submit</button>
        <button class="btn btn-info" id="user_reset_btn" type="button"><i class="fa fa-refresh"></i> Reset</button>
    </div>

  </div>


    
     
</div>
{% endblock %}
