{% extends 'base.html.twig' %}

{% block title %}Users!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 950px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>

       <a href="{{ path('user') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Create New</a> 


       <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
       {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.roles[0] }}</td>
        </tr>
       {% endfor %}  
      </tbody>
    </table>
    
     
</div>
{% endblock %}
